<section class="colophon">
  <section class="copyright">&copy; 2015 <span itemprop="copyrightHolder">{{@blog.title}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://aufgetischt.es/hubpress/impressum.html">Impressum</a></section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://aufgetischt.es">Made with <i class="fa fa-heart"></i> and Open-Source Software</a>
  </section>
</section>
