<section class="colophon">
  <section class="copyright">Copyright &copy; 2015 <span itemprop="copyrightHolder">{{@blog.title}}</span></section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://github.com/Reedyn/Saga">Made with <i class="fa fa-heart"></i> and Open-Source Software</a>
  </section>
</section>
